<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"  rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>
      WeatherCheck
    </title>
    <link rel = "icon" href = "{{ url_for('static', filename='LogoTitle.jpg') }}"
        type = "image/x-icon">
  </head>
  <body>
    <!-- As a link -->
    <div class="container">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://www.kindpng.com/picc/m/178-1780816_download-weather-report-png-file-weather-report-png.png" alt="Image" width="60" height="48">
        </a>
      </div>
    </nav>
  </div>

<!-- As a heading -->
<div class="container">
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid"> 
    <span class="navbar-brand mb-3 h1">Check what the weather is like of any city</span>
  </div>
</nav>
</div>
    <div class="container">
    <form action="/" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter City</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="city" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
  <div class="container">
  <div class="alert alert-info" role="alert">
    Total Number of cities added = {{all_city_data|length}}
  </div>
</div>
  {% for city_data in all_city_data %}
  <br>
  <div class="container">
    
    <h6>City Number {{loop.index}}</h6>
    <div class="media-left">
      <figure class="image is-50x50">
          <img src="http://openweathermap.org/img/w/{{ city_data.icon }}.png" alt="Image">
      </figure>
      <div class="container">
        <h5 class="card-title">{{city_data.city}}</h5>
        <p class="card-text">{{city_data.description}} with a temperature of {{city_data.temperature}} degree Celsius.</p>
        
      </div>
    </div>
  <br>
</div>
<br>
  {% endfor %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>